@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;0,800;0,900;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: black;
    color: white;
}

button {
    padding: 0;
    background: none;
    border: none;
}

kbd {
    display: none;
}

.top-header {
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: #0000;
    height: 60px;
    margin: 2px;
    padding: 0px;
}

.top-header img {
    width: 32px;
    padding: -8px;
    margin: 8px;
}

.logo-container {
    margin-left: 18px;
}

.home-icon-container {
    align-items: center;
    justify-content: center;
    margin: 20px 10px;
}

.icon-wrapper {
    border-radius: 50%;
    height: 45px;
    width: 45px;
    align-items: center;
    justify-content: center;
    background-color: #2a2a2a;
    margin-inline-start: 4px;
}

.search-bar {
    border-radius: 500px;
    background-color: #2a2a2a;
    height: 48px;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.search-bar:hover {
    background-color: #2a2a2a;
    border: 1.5px solid#ffff;
}

.search-area {
    padding: 0px 20px 0px 300px;
    color: #b3b3b3;
}

.browsing-cards-wrapper {
    border-radius: 50%;
    height: 45px;
    width: 45px;
    align-items: center;
    justify-content: center;
    background-color: #2a2a2a;
    margin-inline-end: 8px;
}

.search-text-container {
    padding-inline: 8px;
}

.search-text {
    padding-inline: 0px 10rem;
    border-right: .5px solid #b3b3b3;
}

.user-profile-div {
    align-items: center;
    justify-content: center;
    margin: 10px;
    gap: 8px;
}

.user-profile-div > a {
    text-decoration: none;
    font-weight: 700;
    font-size: 0.875rem;
    color: #ffff;
}

.download-svg {
    height: 16px;
    width: 16px;
}

.bell-icon {
    width: 16px;
    height: 16px;
}

.premium-button {
    color: black;
    border: 1px solid white;
    border-radius: 500px;
    background-color: #ffff;
    font-size: 0.875rem;
    font-weight: 700;
    padding: 8px 16px;
    padding-inline: 12px;
}

.user-button {
    background-color: #1f1f1f;
    border-radius: 50%;
    height: 48px;
    width: 48px;
}

button figure div {
    height: 32px;
    width: 32px;
}

.user-button img {
    border-radius: 50%;
    object-fit: center;
    object-position: center center;
}

/* Left */

.container {
    margin: 0px 10px 0px 10px;
    gap: 8px;
}

.left {
    width: 25vw;
    max-height: 80vh;
    background-color: #121212;
    border-radius: 8px;
    overflow: hidden;
}

.fixed {
    position: sticky; /* Sticky positioning ensures the div stays in view */
    top: 0;
    z-index: 1;
    background-color: #121212; /* Ensure the background stays visible */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5); /* Add shadow effect */
    padding-bottom: 10px; /* Add spacing to separate it from the list */
}

.library-icon {
    width: 24px;
    height: 24px;
}

.bi-plus {
    color: #b3b3b3;
    font-size: 23px;
}

.library-tab {
    margin: 10px;
    padding: 10px;
    justify-content: space-between;
}

.library-tab>span {
    gap: 8px;
}

.playlist-filter-button {
    margin: 10px;
    padding: 10px;
}


.playlist-filter-button button {
    border: none;
    background-color: #1f1f1f;
    border-radius: 9999px;
    cursor: pointer;
    padding: 6px 16px;
    color: white;
    font-size: 0.875rem;
}

.song-list {
    overflow-y: auto;
    overflow-x: hidden; /* Enable scrolling */
    max-height: calc(80vh - 120px); /* Adjust for the total height minus fixed content */
    scrollbar-width: none; /* Firefox: Set scrollbar width to thin */
    /* scrollbar-color: #b3b3b3 transparent; Firefox: Customize scrollbar color */
}

.song-list ul li {
    padding: 10px;
    margin: 10px;
    list-style: none;
    gap: 16px;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
}

.song-list ul li:hover {
    background-color: #191919;
    border-radius: 6px;
}

.song-list ul li .info {
    flex-grow: 1;
}

.song-list ul li .info div{
    padding: 6px;
}

.song-list ul li img {
    width: 15px;
    margin-left: auto;
}

.music-icon {
    font-size: 32px;
    background-color: #1f1f1f;
    padding: 10px;
    border-radius: 6px;
}

/* right */

.right {
    width: 75vw;
    max-height: 80vh;
    background-color: #121212;
    border-radius: 8px;
    overflow: scroll;
    scrollbar-width: none;
}

.spotify-playlists {
    padding: 16px;
}

.spotify-playlists h1 {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 10px;
}

.card:hover {
    background-color: #191919;
}

.card {
    width: 200px;
    height: 100%;
    padding: 10px;
    border-radius: 6px;
}

.card img {
    width: 100%;
    object-fit: contain;
    border-radius: 6px;
}

.card p {
    padding-top: 8px;
    color: #b3b3b3;
    text-overflow: ellipsis;
}

/* bottom music player */

.music-player {
    height: auto;
    /* background-color: #121212; */
    margin: 8px;
    width: auto;
    position: sticky;
    bottom: 0;
}

.music-player div {
    gap: 16px;
    /* padding: 10px; */
    margin-top: 4px;
    padding: 2px;
    color: #ffff;
}

.control-buttons {
    position: sticky;
    margin-bottom: 11px;
    cursor: pointer;
}

.song-info {
    width: 60px;
    text-overflow: ellipsis;
}

.play-icon {
    width: 32px;
    height: 30px;
    background-color: #ffff;
    border-radius: 50px;
    padding: 6px;
}

.previous-icon {
    width: 16px;
    height: 16px;
}

.next-icon {
    width: 16px;
    height: 16px;
}

.seekbar {
    height: 5px;
    width: 40%;
    background-color: #ffff;
    position: absolute;
    bottom: 0;
    border-radius: 6px;
    cursor: pointer;
    transition: height 0.2s ease;
    
    &:hover {
        height: 5px;
        background-color: #1db954;
    }
    
    &::before {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        height: 20px;
        width: 100%;
        background: transparent;
    }
}

.circle {
    width: 16px;
    height: 16px;
    background-color: #fff;
    border-radius: 50%;
    position: relative;
    bottom: 12px;
    left: 0%;
    transition: left .5s;
}

.above-seekbar {
    justify-content: space-between;
    color: white;
    position: relative;
    padding: 0 20px;
    width: 40%;
}

.volume-control {
    position: absolute;
    margin-right: auto;
}

.volume {
    font-size: 32px;
    margin-right: auto;
}
